# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#vscode folder
proj_redes_renan/.vscode/*
!proj_redes_renan/.vscode/settings.json
!proj_redes_renan/.vscode/tasks.json
!proj_redes_renan/.vscode/launch.json
!proj_redes_renan/.vscode/extensions.json
!proj_redes_renan/.vscode/*.code-snippets

# Local History for Visual Studio Code
proj_redes_renan/.history/

# Built Visual Studio Code Extensions
*.vsix
proj_redes_renan/.vscode/settings.json
